nav {
    
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: rgb(255,255,255);
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 90%;
    
    
}
